body {
    font-family: verdana, arial, sans-serif;
}

#form-login {
    text-align: center;
    margin-top: 5%;
}

input[type="submit"] {
    width: 180px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

table,tr,td,th{
    background-color: grey;
    color: white;
    border-radius: 5px;
}

.item-home {
    width: 180px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.item-home:hover {
    width: 180px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex: 
}
input[type="text"]{
    width: 180px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="password"]{
    width: 180px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}